[Unit]
Description=Default ACL entries for Control Plane Protocol packets
After=opx-cps.service
Wants=opx-cps.service

[Service]
EnvironmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/python -u /usr/bin/base_create_acl_entries.py

[Install]
WantedBy=multi-user.target
