[Unit]
Description=OPX ACL Persistency service
After=opx-cps.service opx-nas.service opx-acl-init.service opx-qos-init.service
Requires=opx-cps.service opx-nas.service opx-acl-init.service opx-qos-init.service
DefaultDependencies=no

[Service]
EnvironmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/acl-config
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL
TimeoutStartSec=180

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target

