Source: opx-nas-acl
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9),dh-autoreconf,dh-systemd,autotools-dev,libopx-common-dev (>= 1.3.0),libopx-cps-dev (>= 3.6.0),libopx-logging-dev (>= 2.0.0),libopx-nas-common-dev (>= 3.3.0),opx-ndi-api-dev (>= 5.5.0),libopx-nas-ndi-dev (>= 3.13.0),libopx-nas-linux-dev (>= 4.8.0),libopx-base-model-dev (>= 3.55.0)
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/open-switch/opx-nas-acl
Vcs-Git: https://github.com/open-switch/opx-nas-acl.git

Package: libopx-nas-acl1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libopx-cps1,libopx-logging1,libopx-nas-common1,libopx-nas-ndi1
Description: This package contains base ACL functionality for the Openswitch software.

Package: libopx-nas-acl-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libopx-common-dev (>= 1.3.0),libopx-cps-dev (>= 3.6.0),libopx-logging-dev (>= 2.0.0),libopx-nas-acl1 (=${binary:Version}),libopx-nas-common-dev (>= 3.3.0),opx-ndi-api-dev (>= 5.5.0),libopx-nas-ndi-dev (>= 3.13.0),libopx-base-model-dev (>= 3.55.0)
Description: This package contains base ACL functionality for the Openswitch software.

Package: opx-nas-acl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, opx-cps (>= 3.6.0), python-opx-cps (>= 3.6.0), opx-nas-interface (>= 4.4.1)
Description: This package contains base ACL scripts for the Openswitch software.
