Source: opx-nas-acl
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9),dh-autoreconf,dh-systemd,autotools-dev,libopx-common-dev (>= 1.4.0),libopx-cps-dev (>= 3.6.2),libopx-logging-dev (>= 2.1.0),libopx-nas-common-dev (>= 6.1.0),opx-ndi-api-dev (>= 6.12.0),libopx-nas-ndi-dev (>= 3.26.0),libopx-nas-linux-dev (>= 5.11.0),libopx-base-model-dev (>= 3.109.0)
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/open-switch/opx-nas-acl
Vcs-Git: https://github.com/open-switch/opx-nas-acl.git

Package: libopx-nas-acl1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libopx-cps1 (>= 3.6.2),libopx-logging1 (>= 2.1.0),libopx-nas-common1 (>= 6.1.0),libopx-nas-ndi1 (>= 3.26.0)
Description: This package contains base ACL functionality for the Openswitch software.

Package: libopx-nas-acl-dev
Architecture: any
Depends: ${misc:Depends},libopx-common-dev (>= 1.4.0),libopx-cps-dev (>= 3.6.2),libopx-logging-dev (>= 2.1.0),libopx-nas-acl1 (=${binary:Version}),libopx-nas-common-dev (>= 6.1.0),opx-ndi-api-dev (>= 6.12.0),libopx-nas-ndi-dev (>= 3.26.0),libopx-base-model-dev (>= 3.109.0)
Description: This package contains base ACL functionality for the Openswitch software.

Package: opx-nas-acl
Architecture: any
Depends: ${misc:Depends}, opx-cps (>= 3.6.2), python-opx-cps (>= 3.6.2), opx-nas-interface (>= 5.10.1)
Description: This package contains base ACL scripts for the Openswitch software.
